@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html{
    -webkit-tap-highlight-color: rbga(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    overflow-y: hidden;
    font-size: 10px;
    display: block;
    -webkit-locale: "en";
}

html, body{
    width: 100%;
    height: 100%;
    max-height: 100%;
    font-family: 'avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    /*-webkit-backface-visibility: hidden;*/
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    /*speak: none;*/
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    min-width: 768px;
}
*{
    box-sizing: border-box;
}

body{
    background-color: powderblue;
    display: block;
    font-size: 14px;
    margin: 0px;
}

::-webkit-scrollbar{
    display: none;
}

h1{
    color: #000000;
}

.dashboard{
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 100%;
    max-height: 100%;
    transition: flex 0.15s ease-out, width 0.15s ease-out, max-width 0.15s ease-out;
}

app{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

/*Swithcer*/

.switcher{
    display: flex;
    flex: 0 0 15%;
    flex-direction: column;
    flex-shrink: 0;
    border-right: 1px solid transparent;
    background: #2e6bb1;
    padding: 0px;
    height: 100%;
    position: relative;
}

.logo{
    height: 20%;
    width: 100%;
}
.switcher-item--logo{
    margin-top: 2px;
}
.switcher-item{
    padding: 0px;
    position: relative;
    display: block;
    margin: 5px;
    height: 7%;
    width: 100%;
    padding-left: 7px;
}
.contain-switcher-item{
    padding: 0;
    margin-left: 0;
    float: left;
    position: relative;
}
.switcher-txt{
    padding: 7px;
    font-size: 14px;
    font-family: Arial;
    color: white;
}

.switcher-item.switcher-item--logo a{
    opacity: 1 !important;
}

.switcher-item:not(.switcher-item--settings) a{
    opacity: 0.5;
}

.switcher-item-link{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 7.5px;
    padding-left: 6.5px;
    width: 100%;
    color: white;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none !important;
}

notification-modal{
    cursor: default;
}

.notificationsCenter-button{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
}
.btn-link{
    outline: none;
}
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active{
    border-color: transparent;
}
.btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled], fieldset[disabled] .btn-link{
    background-color: transparent;
    box-shadow: none;
}

.notificationsCenter-item-logo{
    height: 26px;
    width: 26px;
}
.notificationsCenter-button-badge{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background: #e85c41;
    border-radius: 50%;
    position: absolute;
    float: right;
    right: 4px;
    top: 4px;
    font-size: 10px;
    text-decoration: none;
    color: #FFFFFF;
    height: 17px;
    width: 17px;
    line-height: 23px;
    font-family: avenir, sans-serif;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: background;
}
.notificationsCenter-button-badge-text{
    position: relative;
    text-align: center;
    display: block;
}
img{
    vertical-align: middle;
    border:0;
}


li{
    display: list item;
    text-align: -webkit-match-parent;
}


.miniSlidebar{
    flex: 0 0 14.5%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    list-style: none;
    background: #27313e;
    padding: 0px;
    min-width: 115px;
    height: 100%;
    position: relative;
    transition-property: flex, width, min-width, margin-left;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.2s;
    transition-timing-function: ease-out, ease-out, ease-out, ease-out;
    transition-delay: 0s, 0s, 0s, 0s;
}

.slidebarAgenda{
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.slidebarCalendar{
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
}

.slidebarQuickAccess{
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    max-height: 100%;
}

.tasks-wrapper{
    flex: 1 1 54%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: #f2f6fa;
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 400px;
    position: relative;
    min-height: 0;
}
/*
.calendar{
    flex: 1 1 28.25%;
    display: flex;
    flex-shrink: 0;
    max-width: 28.25%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    border-left: 1px solid #eeeeee;
}*/


.wrapper{
    width: 450px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
  .wrapper header{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
  }
  header .icons{
    display: flex;
  }
  header .icons span{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
  }
  .icons span:last-child{
    margin-right: -10px;
  }
  header .icons span:hover{
    background: #f2f2f2;
  }
  header .current-date{
    font-size: 1.45rem;
    font-weight: 500;
  }
  .calendar{
    padding: 20px;
  }
  .calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
  }
  .calendar .days{
    margin-bottom: 20px;
  }
  .calendar li{
    color: #333;
    width: calc(100% / 7);
    font-size: 1.07rem;
  }
  .calendar .weeks li{
    font-weight: 500;
    cursor: default;
  }
  .calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
  }
  .days li.inactive{
    color: #aaa;
  }
  .days li.active{
    color: #fff;
  }
  .days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  .days li.active::before{
    background: #9B59B6;
  }
  .days li:not(.active):hover::before{
    background: #f2f2f2;
  }

  body {
    background-color: #333;
    color: #aaa;
    font-family: 'Josefin Sans';
  }
  
